h1 {

}

h2 {

}

h3{
  color: MediumAquamarine;
}

div.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

div.container h3 {
  align-content: center;
}

logo {

}

header nav {

}

nav li {

}
